<table border="1">
    <thead>
        <tr>
            <td width="100">
                用户名
            </td>
            <td>
                数量
            </td>
        </tr>

    </thead>
    <tbody>
        <tr>
            <% data.forEach((temp)=>{%>
            <td>
                <%=temp.userId%>
            </td>
            <td>
                <%=temp.count%>
            </td>
            <%}) %>
        </tr>
    </tbody>
</table>